:root{
  --yellow: rgb(252 217 1);
  --orange: rgb(233 99 10);
  --white: rgb(255 255 255);
  --dark-purple: rgb(52 49 96);
  --light-purple: rgb(89 86 133);
  --dark-blue: rgb(2 15 21);
  --light-blue: rgb(0 61 89);
  --regular-blue: rgb(0 33 48);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: var(--dark-blue);
}
a{
  text-decoration: none;
}
/* Barra de navegacion */
header{
  background-color: var(--light-blue);
  height: 80px;
}
.nav__container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
}
.nav__title{
  width: 300px;
}
.nav__title a{
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--white);
  font-size: 2rem;
  margin-right: 50px;
  
}
.nav__title figure{
  background-image: url(assets/logo.png);
  width: 60px;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}
.nav__title :hover{
  cursor: pointer;
}
.nav__bar{
  height: 80px;
  width: 100%;
  margin-right: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__bar a{
  font-size: 1.5rem;
  color: var(--white);
}
/* main */
main{
  background-color: var(--dark-blue);
  

}
.main__container{
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  gap: 30px;
  margin-top: 20px;

}
.main__title{
  width: 500px;
}
.mobile__menu figure{
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
  top: 10px;
  background-image: url(assets/menu.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}
.mobile__menu figure:hover{
  cursor: pointer;
}
.mobile-menu__content{
  display: none;
  
}
.inactive{
  display: none;
}
.inactive1{
  visibility: hidden;
}
.main__title h1{
 font-size: 3rem;
 color: var(--white);
 margin-bottom: 40px;
}
.main__title p{
  color: white;
  font-size: 1.5rem;
  margin-bottom: 40px;
}
.main__img{
  display: flex;
  justify-content: center;
  height: 266px;
  width: 500px;
}
.main__img figure{
  background-image: url(assets/calculating.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
  height: 200px;
}
.flex__buttons{
  display: flex;
  justify-content: center;
  gap: 40px;
}
.flex__buttons a{
  color: var(--dark-blue);
}

button{
  height: 40px;
  padding: 0 20px;
  border-radius: 20px; 
  font-weight: bold;
}
button:hover{
  cursor: pointer;
}

button:nth-child(1){
  background-color: var(--yellow);
}
button:nth-child(2){
  background-color: var(--orange);
  color: var(--white);
}
.technologies__container{
  display: flex;
  gap: 200px;
  width: 60%;
  margin: 0 auto;
  justify-content: center;
  margin-top: 50px;
} 
.technologies__container ul{
  font-size: 1.3rem;
  line-height: 2rem;
  color: var(--white);
}
.technologies__container div{
  display: flex;
  flex-direction: column;
}

.html figure{
  background-image: url(assets/html.png);
  width: 125px;
  height: 125px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.css figure{
  background-image: url(assets/css-3.png);
  width: 100px;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 13px;
  margin-bottom: 15px;
}
.js figure{
  background-image: url(assets/js.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;
  margin-top: 13px;
  margin-bottom: 15px;
}
/* Seccion de descuentos */
.main-discount__container h1{
  color: var(--white);
  text-align: center;
  margin-top: 40px;
}
.main-discount__container{
  display: flex;
  flex-direction: column;
}
.regular-discount__container, .cupon-discount__container{
  background-color: var(--light-purple);
  margin: 30px auto;
  padding: 30px;
  border-radius: 50px;
  height: 200px;
  width: 68%;
}
.cupon-discount__container{
  background-color: var(--light-blue);
}
#InputPrice, #InputDiscount, #InputPrice2, #InputCupon{
  width: 80px;
}
.regular-discount__container h2, .cupon-discount__container h2{
  color: var(--white);
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}
.regular-discount__container label, .cupon-discount__container label{
  color: var(--white);
  font-size: 1.3rem;
}
.regular-discount__container button{
  margin-left: 20px;
  background-color: var(--orange);
  color: var(--white);
  margin: 10px 20px;
}
.cupon-discount__container button{
  color: var(--dark-blue);
  background-color: var(--yellow);
  margin: 10px 20px;
}
.discount__result{
  color: var(--white);
  font-size: 1.5rem;
  text-align: center;
}
/* Seccion de Figuras */
.grid-main__container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  gap: 10px;
  color: var(--dark-blue);
  min-width: 326px;
}
.grid-main__container section{
  height: 270px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.grid-main__container section h2{
  font-weight: bold;
  margin-bottom: 20px;
}
.grid-main__container label{
  font-size: 1.3rem;
}
.grid-main__container input{
  display: block;  
  margin: 10px auto;
}
.cuadrado{
  background-color: var(--orange);
}

.triangulo{
  background-color: var(--yellow);
}
.circulo{
  background-color: var(--light-purple);
  color: var(--white);
}
.isoceles{
  background-color: var(--light-blue);
  color: var(--white);
}
/* Mediana */
.mediana-main__container{
display: flex;
}
.mediana{
  margin: 0 auto;
  background-color: var(--light-purple);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  color: var(--white);
  width: 40%;
  padding: 20px;
  border-radius: 10px;
}
.mediana h2{
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 40px;
  text-align: center;
}
.mediana p{
  font-size: 1.3rem;
  margin: 10px;
  text-align: center;
}
.mediana input{
  width: 100px;
  margin: 10px auto;
  display: block;
}
.mediana div{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.mediana__button{
  margin: 0 auto;
  width:  100px;
  text-align: center;
  padding: 0;
  margin-top: 10px;  
  background-color: var(--orange);
  color: var(--white);
}
.mediana__button2{
  margin: 0 auto;
  width:  100px;
  text-align: center;
  padding: 0;
  margin-top: 10px;
  background-color: var(--yellow);  
}
.mediana__button3{
  margin: 0 auto;
  width:  100px;
  text-align: center;
  padding: 0;
  margin-top: 10px;
  background-color: var(--light-blue);  
  color: var(--white);
}
.mediana .mediana__result{
  font-size: 2rem;
  text-align: center;
}
.mediana__container{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 90%;
}
/* Moda */
.moda-main__container{
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
}
.moda__container{
  margin: 100px auto ;
  background-color: var(--yellow);
  width: 40%;
  text-align: center;
  padding: 20px;
  font-size: 1.3rem;
  border-radius: 10px;
  line-height: 25px;
}
.moda__container h2{
  font-size: 2rem;
  margin-bottom: 30px;
}
.moda-main__container div{
  display: flex;
  flex-direction: column;
  margin: 0 auto;   
}
.moda__container input{
  width: 200px;
  margin: 10px auto;
}
.moda__container button{
  width: 100px;
  margin: 0 auto;
}
.moda__container .moda__result{
  font-size: 1.5rem;
  line-height: 20px;
  margin-top: 20px;
}
/* Promedio */
.prom-main__container{
  display: flex;
}
.prom{
  margin: 0 auto;
  background-color: var(--regular-blue);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  color: var(--white);
  width: 40%;
  padding: 20px;
  border-radius: 10px;
}
.prom h2{
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 40px;
  text-align: center;
}
.prom p{
  font-size: 1.3rem;
  margin: 10px;
  text-align: center;
}
.prom input{
    width: 100px;
    margin: 10px auto;
    display: block;
  }
.prom div{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.prom__button{
  margin: 0 auto;
  width:  100px;
  text-align: center;
  padding: 0;
  margin-top: 10px;  
  background-color: var(--orange);
  color: var(--white);
}
.prom__button2{
  margin: 0 auto;
  width:  100px;
  text-align: center;
  padding: 0;
  margin-top: 10px;
  background-color: var(--yellow);  
}
.prom__button3{
  margin: 0 auto;
  width:  100px;
  text-align: center;
  padding: 0;
  margin-top: 10px;
  background-color: var(--light-blue);  
  color: var(--white);
}
.prom .prom__result{
  font-size: 2rem;
  text-align: center;
}
.prom__container{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 90%;
}
  /* Promedio Ponderado */
.ponderado-main__container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ponderado-info__container{
  margin: 0 auto;
  width: 50%;
  background-color: var(--yellow);
  padding: 20px;
  border-radius: 10px;
}
.ponderado-info__container p{
  font-size: 1.3rem;
}
.ponderado-info__container figure{
  background-image: url(assets/Formula.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 320px;
  height: 60px;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 10px;
}
.ponderado{
  margin: 0 auto;
  background-color: var(--dark-purple);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  color: var(--white);
  width: 60%;
  padding: 20px;
  border-radius: 10px;
}
.ponderado__logo{
  background-image: url(assets/interrogation.png);
  margin-right: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 99%;
  padding: 0;
  height: 20px;
  width: 20px;
}
.ponderado__logo{
  cursor: pointer;
}
.ponderado h2{
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 40px;
  text-align: center;
}
.ponderado p{
  font-size: 1.3rem;
  margin: 10px;
  text-align: center;
}
.ponderado input{
  width: 100px;
  margin: 10px auto;
  display: block;
}
.ponderado__button{
  margin: 0 auto;
  width:  100px;
  text-align: center;
  padding: 0;
  margin-top: 10px;  
  background-color: var(--orange);
  color: var(--white);
}
.ponderado__button2{
  margin: 0 auto;
  width:  100px;
  text-align: center;
  padding: 0;
  margin-top: 10px;
  background-color: var(--yellow);  
}
.ponderado__button3{
  margin: 0 auto;
  width:  100px;
  text-align: center;
  padding: 0;
  margin-top: 10px;
   background-color: var(--light-blue);  
  color: var(--white);
}
    .ponderado .ponderado__result{
  font-size: 2rem;
  text-align: center;
}
.ponderado__container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 0 auto;
  height: auto;
  width: 90%;
  background-color: var(--dark-blue);
  padding: 10px;
}
.ponderadoDiv{
  background-color: var(--light-blue);
  border: 1px solid black;
  width: 90%;
  margin: 0 auto;
}
.sobremi-main__container h2{
  text-align: center;
  font-size: 2.5rem;
  margin-top: 50px;
  color: var(--yellow);
}
.sobremi{
  display: flex;
  width: 80%;
  margin: 0 auto;
  gap: 40px;
  margin-top: 80px;
}
.sobremi__img figure{
  background-image: url(assets/Perefil.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
  border-radius: 200px;
  margin: 0 auto;
}
.sobremi__info{
  display: flex;
 

  align-items: center;
  color: var(--white);
  font-size: 1.4rem;
  line-height: 2.5rem;
}
.sobremi__info img{
  height: 50px;
  width: 50px;
  border-radius: 200px;
  margin-top: 10px;
}
footer{
  position: absolute;
  bottom: 0px;
  left: calc(50% - 10px);
  background-color: black;
  font-size: 1rem;
  color: var(--white);
  text-align: center;
  
}

/* Seccion responsive */
@media(max-width: 900px){
  .nav__bar{
    display: none;
  }
  .mobile__menu figure{
   display: block;
  }
  .mobile-menu__content{
    width: 300px;
    height: 400px;
    background-color: var(--light-blue);
    position: absolute;
    right: 0;
    top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }
  .inactive{
    display: none;
  }
  .inactive1{
    visibility: hidden;
  }
  .mobile-menu__content div a{
    font-size: 1.5rem;
    color: var(--white);
  }
  .main__container{
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .main__container section{
    width: 80%;
  }
  .flex__buttons{
    display: flex;
    flex-direction: column;
  }
  .nav__container{
    margin-left: 20px;
  }
  .technologies__container{
    flex-direction: column;
    gap: 10px;
  }
  .technologies__container div{
    width: 40%;
    margin: 0 auto;
    
  }
  .regular-discount__container, .cupon-discount__container{
    margin: 20px auto;
    height: 280px;
  }
  .grid-main__container{
    display: grid;
    grid-template-columns: 1fr;
  }
  .mediana{
    width: 80%;
  }
  .moda__container input{
    width: 100px;
  }
  .prom{
    width: 80%;
  }
  .ponderado{
    width: 80%;
  }
  .ponderado-info__container{
    width: 60%;
  }
  .ponderado-info__container figure{
    width: 250px;
    height: 40px;
  }
  .sobremi{
   flex-direction: column;
   gap: 10px;
  }
  footer{
    width: 100%;
    position: static;
    margin: 0 auto;
    background-color: black;
    font-size: 1rem;
    color: var(--white);
    text-align: center;
    margin-top: 50px;
  }
}
@media (max-width: 480px){
  .technologies__container{
    width: 80%;
  }
  .regular-discount__container, .cupon-discount__container{
    height: 300px;
  }
  #InputPrice, #InputDiscount, #InputPrice2, #InputCupon{
    width: 150px;
    margin: 5px;
  }
  .grid-main__container button{
    padding: 0;
  }
  .grid-main__container input{
    margin: 0 auto;
  }
  .mediana div{
  flex-direction: column;
  }
  .mediana__input{
    margin: 0 auto;
  }
  .moda__container{
    line-height: 15px;
    width: 90%;
  }
  .prom div{
  flex-direction: column;
  }
  .prom__input{
    margin: 0 auto;
  }
  .ponderado div{
    flex-direction: column;
  }
  .ponderado__input{
    margin: 0 auto;
  }
  .ponderado__container{
    grid-template-columns: 1fr;
  }
  .ponderado-info__container{
    width: 80%;
  }
  .ponderado-info__container figure{
    width: 200px;
    height: 33px;
  }
  .sobremi__img figure{
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
  }
}



