:root{
  --yellow: rgb(252 217 1);
  --orange: rgb(233 99 10);
  --white: rgb(255 255 255);
  --dark-purple: rgb(52 49 96);
  --light-purple: rgb(89 86 133);
  --dark-blue: rgb(2 15 21);
  --light-blue: rgb(0 61 89);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: var(--dark-blue);
}
a{
  text-decoration: none;
}
/* Barra de navegacion */
header{
  background-color: var(--light-blue);
  height: 80px;
}
.nav__container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
}
.nav__title{
  width: 300px;
}
.nav__title a{
  display: flex;
  align-items: center;
  color: var(--white);
  font-size: 2rem;
  
}
.nav__title figure{
  background-image: url(assets/logo.png);
  width: 60px;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}
.nav__title :hover{
  cursor: pointer;
}
.nav__bar{
  height: 80px;
  width: 100%;
  margin-right: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__bar a{
  font-size: 1.5rem;
  color: var(--white);
}
/* main */
main{
  background-color: var(--dark-blue);
  

}
.main__container{
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  gap: 30px;
  margin-top: 100px;

}
.main__title{
  width: 500px;
}
.mobile__menu figure{
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
  top: 10px;
  background-image: url(assets/menu.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}
.mobile__menu figure:hover{
  cursor: pointer;
}
.mobile-menu__content{
  display: none;
}
.inactive{
  display: none;
}
.inactive1{
  visibility: hidden;
}
.main__title h1{
 font-size: 3rem;
 color: var(--white);
 margin-bottom: 40px;
}
.main__title p{
  color: white;
  font-size: 1.5rem;
  margin-bottom: 40px;
}
.main__img{
  width: 300px;
  height: 300px;
  background-image: url(assets/calculating.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.flex__buttons{
  display: flex;
  justify-content: center;
  gap: 40px;
}
button{
  height: 40px;
  padding: 0 20px;
  border-radius: 20px; 
  font-weight: bold;
}
button:hover{
  cursor: pointer;
}

button:nth-child(1){
  background-color: var(--yellow);
}
button:nth-child(2){
  background-color: var(--orange);
  color: var(--white);
}
/* Seccion de descuentos */
.main-discount__container h1{
  color: var(--white);
  text-align: center;
  margin-top: 40px;
}
.main-discount__container{
  display: flex;
  flex-direction: column;
}
.regular-discount__container, .cupon-discount__container{
  background-color: var(--light-purple);
  margin: 30px auto;
  padding: 30px;
  border-radius: 50px;
  height: 200px;
  width: 68%;
}
.cupon-discount__container{
  background-color: var(--light-blue);
}
#InputPrice, #InputDiscount, #InputPrice2, #InputCupon{
  width: 80px;
}
.regular-discount__container h2, .cupon-discount__container h2{
  color: var(--white);
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}
.regular-discount__container label, .cupon-discount__container label{
  color: var(--white);
  font-size: 1.3rem;
}
.regular-discount__container button{
  margin-left: 20px;
  background-color: var(--orange);
  color: var(--white);
  margin: 10px 20px;
}
.cupon-discount__container button{
  color: var(--dark-blue);
  background-color: var(--yellow);
  margin: 10px 20px;
}
.discount__result{
  color: var(--white);
  font-size: 1.5rem;
  text-align: center;
}
/* Seccion de Figuras */
.grid-main__container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  gap: 10px;
  color: var(--dark-blue);
  min-width: 326px;
}
.grid-main__container section{
  height: 270px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.grid-main__container section h2{
  font-weight: bold;
  margin-bottom: 20px;
}
.grid-main__container label{
  font-size: 1.3rem;
}
.grid-main__container input{
  display: block;  
  margin: 10px auto;
}
.cuadrado{
  background-color: var(--orange);
}

.triangulo{
  background-color: var(--yellow);
}
.circulo{
  background-color: var(--light-purple);
  color: var(--white);
}
.isoceles{
  background-color: var(--light-blue);
  color: var(--white);
}
/* Mediana */
.mediana-main__container{
display: flex;
}
.mediana{
  margin: 0 auto;
  background-color: var(--light-purple);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  color: var(--white);
  width: 40%;
  padding: 20px;
  border-radius: 10px;
}
.mediana h2{
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 40px;
  text-align: center;
}
.mediana p{
  font-size: 1.3rem;
  margin: 10px;
}
.mediana input{
  width: 100px;
  margin: 10px auto;
  display: block;
}
.mediana div{
  display: flex;
}
.mediana__button{
  margin: 0 auto;
  width:  100px;
  text-align: center;
  padding: 0;
  margin-top: 10px;  
  background-color: var(--orange);
  color: var(--white);
}
.mediana__button2{
  margin: 0 auto;
  width:  100px;
  text-align: center;
  padding: 0;
  margin-top: 10px;
  background-color: var(--yellow);  
}
.mediana__button3{
  margin: 0 auto;
  width:  100px;
  text-align: center;
  padding: 0;
  margin-top: 10px;
  background-color: var(--light-blue);  
  color: var(--white);
}
.mediana__container{
  background-color: blue;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 90%;
}



/* Seccion responsive */
@media(max-width: 900px){
  .nav__bar{
    display: none;
  }
  .mobile__menu figure{
   display: block;
  }
  .mobile-menu__content{
    width: 300px;
    height: 400px;
    background-color: var(--light-blue);
    position: absolute;
    right: 0;
    top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }
  .inactive{
    display: none;
  }
  .inactive1{
    visibility: hidden;
  }
  .mobile-menu__content div a{
    font-size: 1.5rem;
    color: var(--white);
  }
  .main__container{
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .main__container section{
    width: 80%;
  }
  .flex__buttons{
    display: flex;
    flex-direction: column;
  }
  .nav__container{
    margin-left: 20px;
  }
  .regular-discount__container, .cupon-discount__container{
    margin: 20px auto;
    height: 280px;
  }
  .grid-main__container{
    display: grid;
    grid-template-columns: 1fr;
  }
  .mediana{
    width: 80%;
  }
}
@media (max-width: 480px){
  .regular-discount__container, .cupon-discount__container{
    height: 300px;
  }
  #InputPrice, #InputDiscount, #InputPrice2, #InputCupon{
    width: 150px;
    margin: 5 px;
  }
  .grid-main__container button{
    padding: 0;
  }
  .grid-main__container input{
    margin: 0 auto;
  }
  .mediana div{
  flex-direction: column;
  }
  .mediana__input{
    margin: 0 auto;
  }
}



